
  <!-- <input *ngIf="isDashboardShow" type="search" class="input-search" placeholder=" 请输入关键字搜索" > -->
  <!-- <img class="new-center-logo"  src="./assets/img/common/rtCenter-logo.png" alt="rtCenter"  width="84" height="27"  > -->
  <!-- <img class="question-icon" (click)="showQuestion()" src="./assets/img/common/question.png" alt="question"  width="29" height="29"  > -->
  <!-- <img class="alarm-icon"  src="./assets/img/common/alarm.png" alt="alarm"  width="25" height="28"  > -->
  <!-- <img class="message-icon"  src="./assets/img/common/message.png" alt="message"  width="28" height="27"  > -->
  <!-- <img class="logo-icon" src="./assets/img/logo.png" alt="logo"> -->
  <!-- <span>{{currentUser.institution_name}}</span> -->

  <div>Shanghai Datu Medical Technology Co., Ltd. @ 2018</div>
