<div nz-row style="margin-top: 20px">
  <div nz-col nzSpan="8">
    <div nz-row>
      <p nz-col nzSpan="4" style="color: black">机构名称</p>
      <div nz-col nzSpan="16"><input nz-input placeholder="" [(ngModel)]="institutionName" /></div>
    </div>
  </div>
</div>

<div nz-row style="margin-top: 20px">
  <div nz-col nzSpan="8">
    <div nz-row>
      <p nz-col nzSpan="4" style="color: black">机构地址</p>
      <div nz-col nzSpan="16"><input nz-input placeholder="" [(ngModel)]="institutionAdress" /></div>
    </div>
  </div>
</div>


<div nz-row style="margin-top: 20px">
  <div nz-col nzSpan="8">
    <button nz-button nzType="primary" (click)="addInstitution()">提交</button>
  </div>
</div>