<div class="login-view">
	<div class="login-form">
		<div>
			<p class="title">Forgot Password</p>
		</div>
		<div>
			<p class="assist-font">Enter your email adress and we’ll send a link to reset your password</p>
		</div>
		<form nz-form [formGroup]="loginForm" (ngSubmit)="onConfirm()">
			<nz-form-item>
				<nz-form-control nzHasFeedback>
					<nz-input-group nzPrefixIcon="mail">
						<input type="text" nz-input formControlName="email" placeholder="Email address">
					</nz-input-group>
					<nz-form-explain *ngIf="loginForm.controls.email.dirty&&loginForm.controls.email.errors">
						<ng-container *ngIf="loginForm.controls.email.hasError('required')">
							请正确输入邮箱地址!
						</ng-container>
						<ng-container *ngIf="loginForm.controls.email.hasError('email')">
							请正确输入邮箱地址!
						</ng-container>
					</nz-form-explain>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-control>
					<input type="submit" [disabled]="_loading" value="REQUEST PASSWORD" />
				</nz-form-control>
			</nz-form-item>
			<div class="sign-up-text">
				<p class="p1"> Already have an account? <a (click)="gotoLogin()">Sign In</a></p>
				<p class="p2"> <a (click)="gotoRegister()">Sign Up</a></p>
			</div>
		</form>
	</div>
</div>